body{
    display:flex;
    background-color: gray;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.buttons{
    display: flex;
    gap:20px;
   flex: auto;
    
}